<a href="https://colab.research.google.com/github/KingaKlejne/Python/blob/main/3.%20Course_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. FizzBuzz

Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [ ]:
for i in range (1,51):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")

# 2. M-Pyramid

Build a pyramid with letter 'M'

In [ ]:
number = int(input("Enter the height of the pyramid: "))

for i in range(1,number + 1):
    row = " " * (number - i) + "M" * (2 * i - 1)
    print(row)

# 3. Full Name - Age

In [4]:
records = [
    {"First Name": "Adam", "Last Name": "Nowak", "Age": 35},
    {"First Name": "Anna", "Last Name": "Nowak", "Age": 29},
    {"First Name": "Artur", "Last Name": "Nowakowski", "Age": 39},
    {"First Name": "Alojzy", "Last Name": "Kowalski", "Age": 19}
]

for i in records:
    if i["Age"] > 30:
        print(i["First Name"],i["Last Name"],i["Age"])

Adam Nowak 35
Artur Nowakowski 39

# 4. key : value

In [6]:
for i in records:
    for key,value in i.items():
        print(str(key) + ": " + str(value))

First Name: Adam
Last Name: Nowak
Age: 35
First Name: Anna
Last Name: Nowak
Age: 29
First Name: Artur
Last Name: Nowakowski
Age: 39
First Name: Alojzy
Last Name: Kowalski
Age: 19

# 5. Adding work

In [11]:
profession = ["Java Developer", "PHP Developer", "Python Developer", "CEO"]
i = 0
for value in records:
    value.update({"profession": profession[i]})
    i += 1
    print(value)

{'First Name': 'Adam', 'Last Name': 'Nowak', 'Age': 35, 'profession': 'Java Developer'}
{'First Name': 'Anna', 'Last Name': 'Nowak', 'Age': 29, 'profession': 'PHP Developer'}
{'First Name': 'Artur', 'Last Name': 'Nowakowski', 'Age': 39, 'profession': 'Python Developer'}
{'First Name': 'Alojzy', 'Last Name': 'Kowalski', 'Age': 19, 'profession': 'CEO'}

# 6. Creating list from dictionary

In [12]:
record_list = []

for i in records:
    record_list += i["First Name"], i["Last Name"]
    
print(record_list)

['Adam', 'Nowak', 'Anna', 'Nowak', 'Artur', 'Nowakowski', 'Alojzy', 'Kowalski']

# 7. Count Strings

Write a program that will count strings with a length of min. 2, where the first and last letters are the same

In [13]:
word_list = ["abba", "ala", "xyzzyxy", "kayak", "koÅ‚o"]
count = 0

for word in word_list:
    if len(word) >= 2 and word[0] == word[-1]:
        count += 1

print(count)

3

# 8. Check if two lists have same elements

In [15]:
list_a = [1, 23, 94, "cat", "dog", [2, 3]]
list_b = [54, [2, 3], "cat"]

for element_a in list_a:
    if element_a in list_b:
        print(element_a)

cat
[2, 3]

# 9. List of the same elements from two lists

In [19]:
list_a = [1, 23, 94, "cat", "dog", [2, 3]]
list_b = [54, [2, 3], "cat"]
list_c = []

for element_a in list_a:
    if element_a in list_b:
        list_c.append(element_a)
print(list_c)

['cat', [2, 3]]

# 10. Attendance list

Create a new list with names added "YES" or "NO" depending on whether they are on the attendance list.

In [22]:
all = ["Anna", "Jurek", "Beata", "Jarek", "Patrycja", "Arkadiusz"]
present = ["Jurek", "Patrycja", "Beata"]
if_present = []

for name in all:
    if name in all:
        if_present.append(name + " - YES")
    else:
        if_present.append(name + " - NO")
        
print(if_present)

['Anna - YES', 'Jurek - YES', 'Beata - YES', 'Jarek - YES', 'Patrycja - YES', 'Arkadiusz - YES']

# 11. Test results

In [23]:
names = ["Anna", "Jurek", "Beata", "Jarek", "Patrycja", "Arkadiusz"]
test = [35, 78, 92, 45, 55, 80]
results = []
i = 0

def grade(x):
    if x >= 90:
        return "A"
    elif x >= 80:
        return "B"
    elif x >= 70:
        return "C"
    elif x >= 60:
        return "D"
    elif x >= 50:
        return "E"
    else:
        return "F"


for name in names:
    score =(name, grade(test[i]))
    results.append(score)
    i += 1
    

print(results)

[('Anna', 'F'), ('Jurek', 'C'), ('Beata', 'A'), ('Jarek', 'F'), ('Patrycja', 'E'), ('Arkadiusz', 'B')]